@import "tailwindcss";

@theme {
  --color-navy: #2b557e;
  --color-gray-dark: #424242;
  --color-gray-light: #f3f2ef;
  --color-navy-deep: #1b2f49;
  --color-ivory: #f5f3ec;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }
}

@font-face {
  font-family: "GapyeongHanseokbong";
  src: url("/assets/fonts/otf/GapyeongHanseokbongR.otf") format("opentype"),
    url("/assets/fonts/ttf/GapyeongHanseokbongR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GapyeongHanseokbong";
  src: url("/assets/fonts/otf/GapyeongHanseokbongB.otf") format("opentype"),
    url("/assets/fonts/ttf/GapyeongHanseokbongB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GapyeongHanseokbong";
  src: url("/assets/fonts/otf/GapyeongHanseokbongL.otf") format("opentype"),
    url("/assets/fonts/ttf/GapyeongHanseokbongL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "GapyeongHanseokbong", sans-serif;
}
